

<h2>yes, the page rendered but you don't see video yet...</h2>
<div id="trafficCamPlayer_20181130113650_8963710_cache_used"
     style="display: none;">
</div>


<div id="media-player">
  <video id="media-video"
         autoplay=""
         preload="none"
        src="{{videoSrc}}">
    <source type="application/x-mpegurl"
            src="{{videoSourceSrc}}">
    <source src="{{videoSourceSrc}}">
  </video>


  <div id="media-controls"
       style="visibility: hidden;">
    <button id="play-pause-button"
            class="pause"
            title="pause"
            onclick="togglePlayPause();">pause</button>
  </div>


</div>

